In [1]:
print ('Karim\n'*10)

Karim
Karim
Karim
Karim
Karim
Karim
Karim
Karim
Karim
Karim

In [1]:
text="Karim Elgammal"
len(text)

14

In [3]:
text[0]

'K'

In [4]:
text[-1]

'l'

In [5]:
text[-2]

'a'

Slicing

In [6]:
text[4:]

'm Elgammal'

In [7]:
text[:3]

'Kar'

In [8]:
text[3:7]

'im E'

In [9]:
text[::]

'Karim Elgammal'

In [10]:
text[::2]

'KrmEgma'

In [11]:
text[::3]

'KiEaa'

In [12]:
text[3:8:2]

'i l'

In [13]:
text[::-1]

'lammaglE miraK'

text+',PhD'

In [14]:
text+',PhD'

'Karim Elgammal,PhD'

In [15]:
'2'+'3'

'23'

In [16]:
type(text)

str

In [20]:
text.capitalize()

'Karim elgammal'

In [19]:
text

'Karim Elgammal'

In [21]:
'ss'.capitalize()

'Ss'

In [22]:
text.split()

['Karim', 'Elgammal']

In [23]:
text.split('i')

['Kar', 'm Elgammal']

In [24]:
text.find('i')

3

In [26]:
text.count('i')

1

In [27]:
'testing the format thingy {}'.format('ADD')

'testing the format thingy ADD'

In [30]:
'first name: {0} last name {1} title{2}'.format('Karim','Elgammal','PhD')

'first name: Karim last name Elgammal titlePhD'

In [31]:
'first name: {first} last name {last} title{title}'.format(first='Karim',last='Elgammal',title='PhD')

'first name: Karim last name Elgammal titlePhD'

In [32]:
number = 243/76

In [33]:
number

3.1973684210526314

In [35]:
print("number is: {res}".format(res=number))

number is: 3.1973684210526314

In [36]:
print("number is: {res:1.4f}".format(res=number)) #with precision

number is: 3.1974

In [37]:
print("number is: {res:10.4f}".format(res=number)) #with precision

number is:     3.1974

In [38]:
name='karim'

In [39]:
print('name is {name}') #new in python 3.6

name is {name}

In [42]:
print(f"name is {name}") #new in python 3.6

name is karim

print("name is {name}".format(name=name))

List

In [43]:
my_list=[1,2,3]

In [44]:
my_list=['karim',86,6]

In [45]:
len(my_list)

3

In [46]:
mylist=['one','two','three']

In [47]:
mylist[0] #indexing

'one'

In [48]:
mylist[1:] #slicing

['two', 'three']

In [49]:
secondlist=['four','five']

In [50]:
anotherlist=mylist+secondlist

In [52]:
print(anotherlist)

['one', 'two', 'three', 'four', 'five']

In [53]:
anotherlist[0]='ONE'

In [54]:
print(anotherlist)

['ONE', 'two', 'three', 'four', 'five']

In [55]:
anotherlist.append('six')

In [56]:
anotherlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [57]:
anotherlist.pop()

'six'

In [58]:
anotherlist

['ONE', 'two', 'three', 'four', 'five']

In [60]:
testListIndex=anotherlist.index('four')

In [61]:
testListIndex

3

In [62]:
anotherlistWithoutFirstIndex=anotherlist.pop(0)

In [63]:
anotherlistWithoutFirstIndex

'ONE'

In [64]:
anotherlist

['two', 'three', 'four', 'five']

In [65]:
charList=['a','b','c','d','e']

In [66]:
numList=[5,3,6,1]

In [67]:
charList.sort()

In [68]:
charList

['a', 'b', 'c', 'd', 'e']

In [69]:
numList.sort()

In [70]:
numList

[1, 3, 5, 6]

In [71]:
numList.reverse()

In [72]:
numList

[6, 5, 3, 1]

Dictionaries

In [73]:
my_dict={'firstname':'karim','lastname':'elgammal'}

In [74]:
my_dict['lastname']

'elgammal'

In [75]:
prices_dict={'apple':4.3,'orange':53.3,'burger':200}
prices_dict['burger']

200

In [77]:
differentTypes={'k1':222,'k2':[0,1,2],'k3':{'nested':200}}

In [78]:
differentTypes['k2']

[0, 1, 2]

In [79]:
differentTypes['k3']

{'nested': 200}

In [80]:
differentTypes['k3']['nested']

200

In [81]:
d={'key1':['a','b','c']}

In [82]:
d

{'key1': ['a', 'b', 'c']}

In [83]:
extractTheList=d['key1']

In [84]:
extractTheList

['a', 'b', 'c']

In [85]:
extractIntemTheList=d['key1'][0]
extractIntemTheList

'a'

In [88]:
extractIntemTheList=d['key1']
extractIntemTheList.index('b')

1

In [89]:
extractIntemTheList=d['key1'][1]

In [90]:
extractIntemTheList

'b'

In [91]:
extractIntemTheList.capitalize()

'B'

In [92]:
extractTheList

['a', 'b', 'c']

In [93]:
d

{'key1': ['a', 'b', 'c']}

In [94]:
differentTypes['k3']['nested']=400

In [95]:
differentTypes

{'k1': 222, 'k2': [0, 1, 2], 'k3': {'nested': 400}}

In [96]:
differentTypes.values()

dict_values([222, [0, 1, 2], {'nested': 400}])

In [97]:
differentTypes.items()

dict_items([('k1', 222), ('k2', [0, 1, 2]), ('k3', {'nested': 400})])

In [98]:
differentTypes.items()

dict_items([('k1', 222), ('k2', [0, 1, 2]), ('k3', {'nested': 400})])

In [99]:
differentTypes.keys()

dict_keys(['k1', 'k2', 'k3'])

Tubles

In [100]:
t = (1,2,3)
mylist=[1,2,3]

In [101]:
type(t)

tuple

In [102]:
type(mylist)

list

In [103]:
len(t)

3

In [104]:
t2=('one',1)

In [105]:
t[0]

1

In [106]:
t2[0]

'one'

In [107]:
t3=('a','b','c')

In [108]:
t3.count('a')

1

In [109]:
t3.index('a')

0

In [110]:
t

(1, 2, 3)

In [111]:
t[0]='karim' #cant but in lists it is ok

TypeError: 'tuple' object does not support item assignment

In [112]:
t

(1, 2, 3)